{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <table>
            <caption>Panier</caption>
            <thead>
            <tr>
                <th>id_produit</th>
                <th>quantite</th>
                <th>prix</th>
                <th>dateAjoutPanier</th>
            </tr>
            </thead>
            <tbody>
            {% for panier in data if data is not empty %}
                <tr>
                    <td>{{panier.produit_id}}</td>
                    <td>{{panier.quantite}}</td>
                    <td>{{panier.prix}}</td>
                    <td>{{panier.dateAjoutPanier}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}